* {
    font-family: system-ui, "Segoe UI", Roboto;
}

.header {
    text-align: center;
    background-color: #f2f6fc;
    padding: 1rem;
    border-bottom: 1px solid #c8c8c8;
}

.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav a {
    text-decoration: none;
    color: currentColor;
    border: 1px solid #c8c8c8;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.nav a:hover {
    color: #328677;
    border-color: #8ed8a9;
}

table {
    border-collapse: collapse;
    margin: 1.5rem 0;
    width: 100%;
}

td, th {
    border: 1px solid #898EA4;
    text-align: start;
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: #f5f7ff;
}

.container {
    margin: auto;
    width: 60%;
}

a.active {
    background-color: #FFB300FF;
    color: white;
}

.button {
    background: #212b6a;
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    color: white;
}

.button:hover {
    background: #898EA4;
}
.form-group{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.form-group label{
    font-weight: bold;
    display: block;
}
.form-group input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-width: 1px;
}

